.header {
    border: 10px solid #045757;
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

.header img {
    display: block;
    width: 100%;
}

#head1 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

#indexfirstp {
    color: darkcyan;
    font-weight: bold;
}

.overlay-text {
    font-size: 2vw;
    position: absolute;
    top: 15%;
    left: 50%;
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    border: 10px solid #045757;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    overflow: hidden;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(35, 63, 75);
    background-color: skyblue;
    color: white;
    margin: 1px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.main {
    border: 10px solid #045757;
    padding: 20px 0;
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main img {
    display: block;
    width: 65%;
    height: 65%;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    body {
        width: 1050px;
        margin: 0 auto;
    }

    .header {
        width: 1050px;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
    }

    .header img {
        display: block;
        width: 100%;
    }

    #head1 {
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    #indexfirstp {
        color: darkcyan;
        font-weight: bold;
    }

    .overlay-text {
        font-size: 2vw;
        position: absolute;
        top: 15%;
        left: 50%;
        text-align: center;
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu {
        width: 1050px;
        border: 10px solid #045757;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightblue;
        overflow: hidden;
    }

    .menu a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style: solid;
        border-color: rgb(35, 63, 75);
        background-color: skyblue;
        color: white;
        margin: 1px;
    }

    .menu a:hover {
        background-color: #ddd;
        color: black;
    }

    .main {
        width: 1050px;
        border: 10px solid #045757;
        padding: 20px 0;
        background-color: lightgreen;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main img {
        display: block;
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 980px) {
    body {
        width: 940px;
        margin: 0 auto;
    }

    .header {
        width: 860px;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
    }

    .header img {
        display: block;
        width: 100%;
    }

    #head1 {
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    #indexfirstp {
        color: darkcyan;
        font-weight: bold;
    }

    .overlay-text {
        font-size: 2vw;
        position: absolute;
        top: 15%;
        left: 50%;
        text-align: center;
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu {
        width: 860px;
        border: 10px solid #045757;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightblue;
        overflow: hidden;
    }

    .menu a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style: solid;
        border-color: rgb(35, 63, 75);
        background-color: skyblue;
        color: white;
        margin: 1px;
    }

    .menu a:hover {
        background-color: #ddd;
        color: black;
    }

    .main {
        width: 860px;
        border: 10px solid #045757;
        padding: 20px 0;
        background-color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main img {
        display: block;
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 750px) {
    body {
        width: 600px;
        margin: 0 auto;
    }

    .header {
        width: 600px;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
    }

    .header img {
        display: block;
        width: 100%;
    }

    #head1 {
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    #indexfirstp {
        color: darkcyan;
        font-weight: bold;
    }

    .overlay-text {
        font-size: 2vw;
        position: absolute;
        top: 10%;
        left: 50%;
        text-align: center;
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu {
        width: 600px;
        border: 10px solid #045757;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightblue;
        overflow: hidden;
    }

    .menu a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style: solid;
        border-color: rgb(35, 63, 75);
        background-color: skyblue;
        color: white;
        margin: 1px;
    }

    .menu a:hover {
        background-color: #ddd;
        color: black;
    }

    .main {
        width: 600px;
        border: 10px solid #045757;
        padding: 20px 0;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main img {
        display: block;
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 540px) {
    body {
        width: 450px;
        margin: 0 auto;
    }

    .header {
        width: 450px;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
    }

    .header img {
        display: block;
        width: 100%;
    }

    #head1 {
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    #indexfirstp {
        color: darkcyan;
        font-weight: bold;
    }

    .overlay-text {
        font-size: 2vw;
        position: absolute;
        top: 10%;
        left: 50%;
        text-align: center;
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu {
        width: 450px;
        border: 10px solid #045757;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightblue;
        overflow: hidden;
    }

    .menu a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style: solid;
        border-color: rgb(35, 63, 75);
        background-color: skyblue;
        color: white;
        margin: 1px;
    }

    .menu a:hover {
        background-color: #ddd;
        color: black;
    }

    .main {
        width: 450px;
        border: 10px solid #045757;
        padding: 20px 0;
        background-color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main img {
        display: block;
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 380px) {
    body {
        width: 340px;
        margin: 0 auto;
    }

    .header {
        width: 340px;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
    }

    .header img {
        display: block;
        width: 100%;
    }

    #head1 {
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    #indexfirstp {
        color: darkcyan;
        font-weight: bold;
    }

    .overlay-text {
        font-size: 2vw;
        position: absolute;
        top: 7.5%;
        left: 50%;
        text-align: center;
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu {
        width: 340px;
        border: 10px solid #045757;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightblue;
        overflow: hidden;
    }

    .menu a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-style: solid;
        border-color: rgb(35, 63, 75);
        background-color: skyblue;
        color: white;
        margin: 1px;
    }

    .menu a:hover {
        background-color: #ddd;
        color: black;
    }

    .main {
        width: 340px;
        border: 10px solid #045757;
        padding: 20px 0;
        background-color: lightcyan;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main img {
        display: block;
        width: 65%;
        height: 65%;
    }
}
